<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Renderizado</title>
  </head>
  <body style="margin-left: 20%; margin-right: 20%">
    <h1>Web de ejemplo</h1>
    <p>¡Has llegado a una zona secreta!</p>
    <p><%= mensaje %></p>
  </body>
</html>
